<ul id="top-nav">
  <li><%= link_to "Admin Home", admin_path %></li>
  <li><%= link_to "Pages", admin_pages_path %></li>
  <li><%= link_to "Users", admin_users_path %></li>
  <li><%= link_to "Contacts", admin_contacts_path %></li>
</ul>